$main-navigation-color: #87c232;

.sticky-navigation {
  background-color: $main-navigation-color;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  .navigation-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navigation-item {
    display: flex;
    flex: 1 1 auto;
    min-width: 6rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }

  .navigation-link {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  .navigation-icon {
    font-size: 1.5rem;
  }
}
