.skills {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .frontend,
  .backend,
  .misc {
    margin-top: 2rem;
    text-align: left;
  }

  .skills {
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .skill-icon {
    font-size: 5rem;
    width: 5rem;
  }

  .tech-text {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }

  .tech-skill {
    justify-self: center;
    text-align: center;
  }
}
