.about {
  padding-top: 2rem;
  padding-bottom: 2rem;

  .about-excerpt {
    color: #abb0b4;
    text-align: left;
    line-height: 1.5rem;
  }

  .about-img {
    border-radius: 5px;
    margin-top: 1rem;
    max-width: 40rem;
  }
}
