.about-heading {
  font-size: 2.25rem;
  margin-bottom: 0;
  text-align: left;
}

.green-border {
  border-left: solid 5px #87c232;
  padding-right: 1rem;
}

.about-subheading {
  margin-top: 0;
  font-size: 1.5rem;
  color: #abb0b4;
}

.about-excerpt {
  color: #abb0b4;
  text-align: left;
  line-height: 1.5rem;
}

.about-img {
  margin-top: 1rem;
  max-width: 40rem;
}
