$main-navigation-color: #87c232;

.navigation {
  background-color: $main-navigation-color;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 2fr 1fr;
  align-items: center;

  .navigation-list {
    display: grid;
    padding-right: .65rem;
  }

  .navigation-logo {
    display: grid;
    justify-items: start;
    padding-left: .65rem;
    font-size: 2rem;
  }

  .navigation-ul {
    display: none;
    justify-items: end;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .navigation-toggle {
    display: grid;
    justify-items: end;
    align-items: center;
    padding: .25rem;
    cursor: pointer;

    .far {
      align-items: center;
      font-size: 2.25rem;
    }
  }
}
