$main-dark-background: #222629;
$secondary-dark-background: #2f3539;

$main-light-text: #fff;
$secondary-dark-text: #abb0b4;

$main-color: #87c232;
$accent-color: #618930;

body {
  background-color: $main-dark-background;
  color: $main-light-text;
  min-height: 100%;
  margin: 0;
  margin-bottom: 5rem;
  padding-bottom: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.container {
  text-align: center;
  width: 95%;
  max-width: 55rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

a {
  padding: 1rem 0.15rem;
  text-decoration: none;
  color: #ffffff;
}

img {
  width: 100%;
}

.btn {
  margin-top: 1rem;
  margin-bottom: 0;
  max-width: 12rem;
  opacity: 0.8;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1rem;
  outline: none;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  opacity: 1;
}

.btn-primary {
  background-color: $main-color;
}

.btn-secondary {
  background-color: $accent-color;
}

.section-heading {
  font-size: 2.25rem;
  margin-bottom: 0;
  text-align: left;
}

.section-subheading {
  margin-top: 0;
  font-size: 1.5rem;
  color: #abb0b4;
}

.green-border {
  border-left: solid 5px #87c232;
  padding-right: 1rem;
}

.green-highlight {
  color: #87c232;
}

.js-icon {
  color: #F1DE4F;
}

.react-icon {
  color: #62D4FA;
}

.html-icon {
  color: #DE6E3C;
}

.css-icon {
  color: #53A7DC;
}

.sass-icon {
  color: #BF6B97;
}

.node-icon {
  color: #54B689;
}

.mongodb-icon {
  color: #119E4F;
}

.mysql-icon {
  color: #00758F;
}

.npm-icon {
  color: #BB443E;
}

.git-icon {
  color: #F54D27;
}

.gulp-icon {
  color: #C9514E;
}
